@{

    ViewData["Title"] = "Inicio";
}

<h1>PW_Ejercicios</h1>
<p>Seleccione un ejercicio:</p>

<ul>
    <li><a asp-controller="Home" asp-action="Ejercicio1">Ejercicio 1 - Parquímetro</a></li>
    <li><a asp-controller="Home" asp-action="Ejercicio2">Ejercicio 2 - Velocidad Promedio</a></li>
    <li><a asp-controller="Home" asp-action="Ejercicio3">Ejercicio 3 - Triplicar / Dividir</a></li>
</ul>
